.button-devis{
      justify-content: center;
    max-width: 200px;
  appearance: button;
  background-color: #C7B0AD;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: .8px;
  line-height: 20px;
  overflow: visible;
  padding: 16px 16px;
  text-align: center;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.button-devis:hover {
 
    background-color: #F9DCD8;
    color: #7A4C46
}

/* ::ng-deep .p-button-label{
  margin:  20px
} */
 


::ng-deep .p-confirm-popup-footer {
  display: flex;
justify-content: space-between;
}

::ng-deep .p-button{
  transition-duration: 0s;
}

::ng-deep .p-ripple {
  margin-right: 8px;
  
}

::ng-deep .p-confirm-popup-message {
 margin-left: 0px;
}