<section class="dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-5 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="title text-4xl tracking-tight font-extrabold dark:text-white"
      >
        La cheffe, Ebru.
      </h2>
      <p class="mt-8">
        Passionnée par le monde culinaire, je me suis formée en 2019 dans la
        prestigieuse Ecole Nationale Supérieure de la Pâtisserie à Yssingeaux
        afin de perfectionner mon savoir-faire. Je suis curieuse, ouverte sur le
        monde et surtout très gourmande! Manger est pour moi l’un des plus
        grands plaisirs de la vie et partager mes créations l’est tout aussi! Je
        suis située sur Belleville en Beaujolais.
      </p>
      <p class=" title font-bold mb-4 mt-9">Présentation du concept.</p>
      <p>
        Je vous propose une gamme sucrée et salée de qualité pour tous vos
        évènements privés et professionnels. Je m’adapte au mieux à vos souhaits
        que ce soit au niveau des personnalisations, des différentes cuisines du
        monde ou des intolérances alimentaires. Je m'approvisionne de produits
        de qualité en privilégiant les circuits courts pour que votre
        dégustation soit un moment privilégié. Depuis mon labo, je prépare à la
        demande vos commandes qui seront disponibles au retrait à mon domicile,
        la livraison est à discuter pour les grands évènements/évènements
        professionnels. Vous pouvez me contacter dans la page "contact" pour vos demandes particulières.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="..\assets\06.jpg"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="..\assets\07.jpg"
        alt="office content 2"
      />
    </div>
  </div>
</section>
