.title {
  color: #7a4c46;
}

.navbar {
  background-color: transparent;
}




.logo {
  width: 110px;
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 1.5rem;
  }
}
