.navbar{
    background-color: transparent;
}

.logo{
    width: 110px;
}

@media (max-width: 480px){
    .navbar{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
    }
}