<section>
  <div class="m-10 mx-12">
    <h2 class="title text-2xl font-extrabold dark:text-white">
      1. Utilisation du site
    </h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      1.1. Vous devez avoir au moins [âge minimum] ans pour utiliser ce site.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      1.2. Vous acceptez de ne pas utiliser ce site à des fins illégales ou non
      autorisées.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      1.3. Vous acceptez de ne pas collecter de données personnelles d'autres
      utilisateurs sans leur consentement.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      1.4. Vous acceptez de ne pas perturber le fonctionnement normal du site, y
      compris par le biais de logiciels malveillants, de robots, de spiders, ou
      de tout autre moyen.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">2. Contenu du site</h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      2.1. Le contenu de ce site est fourni à des fins d'information uniquement.
      Nous ne garantissons pas l'exactitude, l'exhaustivité ou l'actualité du
      contenu.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      2.2. Tous les droits d'auteur et autres droits de propriété intellectuelle
      relatifs au contenu de ce site sont détenus par [Nom de votre entreprise]
      ou ses concédants de licence.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      2.3. Vous acceptez de ne pas copier, reproduire, distribuer ou utiliser le
      contenu de ce site à des fins commerciales sans autorisation préalable.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">
      3. Commandes et achats
    </h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      3.1. Si vous effectuez des achats sur ce site, vous acceptez de fournir
      des informations exactes et à jour lors du processus de commande.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      3.2. Les prix et la disponibilité des produits sont sujets à modification
      sans préavis.
    </p>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      3.3. Les commandes sont soumises à notre politique de livraison et de
      retour, que vous devriez consulter avant de passer une commande.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">4. Confidentialité</h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      4.1. Notre politique de confidentialité régit la collecte et l'utilisation
      de vos données personnelles. En utilisant ce site, vous acceptez nos
      pratiques en matière de confidentialité.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">
      5. Liens vers d'autres sites
    </h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      5.1. Ce site peut contenir des liens vers des sites tiers. Nous ne sommes
      pas responsables du contenu ou de la politique de confidentialité de ces
      sites.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">
      6. Modification des conditions d'utilisation
    </h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      6.1. Nous nous réservons le droit de modifier ces conditions d'utilisation
      à tout moment. Les modifications seront publiées sur cette page, et la
      date de la dernière mise à jour sera mise à jour.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">7. Résiliation</h2>
    <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
      7.1. Nous pouvons résilier ou suspendre votre accès au site à notre
      discrétion, sans préavis, en cas de violation de ces conditions
      d'utilisation.
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">8. Contact</h2>
    <p class="mt-4 mb-8 text-lg font-normal text-gray-500 dark:text-gray-400">
      8.1. Pour toute question ou préoccupation concernant ces conditions
      d'utilisation, veuillez nous contacter à [adresse e-mail de contact].
    </p>

    <h2 class="title text-2xl font-extrabold dark:text-white">
      En utilisant ce site, vous acceptez ces conditions d'utilisation. Veuillez
      les lire attentivement.
    </h2>
  </div>
</section>
