.alladmintable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-button {
  margin-top: 10px;
  margin-right: 10px;
}

@media (max-width: 400px) {
 

  .admintable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width:100%;
  }

  .colonne {
    visibility: hidden;
  }
}
