<form
  [formGroup]="inscriptionForm"
  (ngSubmit)="onSubmit()"
  class="form-subscribe mt-8 space-y-6"
>
  <div
    class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-transparent rounded-lg shadow-xl dark:bg-gray-800"
  >
    <div class="flex flex-col justify-center">
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
        Inscrivez-vous
      </h2>
    </div>
    <div *ngIf=" inscriptionForm.controls['name']">
      <label
        for="name"
        class="block mb-2 text-xl font-large text-gray-900 dark:text-white"
        >Votre nom</label
      >
      <input 
        type="text"
        name="name"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
        placeholder="Nom"
        required
        formControlName="name"
      />
    </div>
    <div *ngIf=" inscriptionForm.controls['firstname']">
      <label
        for="lastname"
        class="block mb-2 text-xl font-large text-gray-900 dark:text-white"
        >Votre prénom</label
      >
      <input
        type="text"
        name="lastname"
        id="lastname"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
        placeholder="Prénom"
        required
        formControlName="firstname"
      />
    </div>
    <div *ngIf=" inscriptionForm.controls['mail']">
      <label
        for="email"
        class="block mb-2 text-xl font-large text-gray-900 dark:text-white"
        >Votre email</label
      >
      <input 
        type="email"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
        placeholder="nom@email.com"
        required
        formControlName="mail"
      />
    </div>
    <div *ngIf=" inscriptionForm.controls['password']">
      <label 
        for="password"
        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white"
        >Votre mot de passe</label
      >
      <input
        type="password"
        name="password"
        id="password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
        required
        formControlName="password"
      />
    </div>
    <button type="submit" class="form-button button" [disabled]="inscriptionForm.invalid">S'inscrire</button>
  </div>
</form>
