<div
  class="flex flex-col max-w-2xl px-4 py-8 mx-auto p-6 space-y-8 sm:p-8 bg-transparent rounded-lg shadow-xl mb-10 mt-4"
>
  <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
    Ajout d'un article
  </h2>
  <form [formGroup]="articleForm" (ngSubmit)="submit()" action="#">
    <div class="grid gap-4 mb-4 sm:grid-cols-2">
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nom</label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
          placeholder=""
          required=""
          formControlName="name"
        />
      </div>
      <div>
        <label
          for="type"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Type</label
        >
        <select
          id="type"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
          formControlName="type_id"
        >
          <option value="1">Pâtisserie</option>
          <option value="2">Traiteur</option>
        </select>
      </div>
      <div>
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
          Formats
        </h3>
        <div 
          class="flex flex-col space-y-20 ml-11"          >
          <div *ngFor="let format of allFormats" class="flex items-center mt-4" >
            <input
              formControlName="{{'format_id_'+format.id }}"
              id="{{format.size}}"
              type="checkbox"
              value="{{format.id}}"
              class="mt- w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              for="{{format.size}}"
              >{{format.size}}</label
            >
          </div>
        </div>
      </div>
      <div>
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Prix</h3>
        <div class="mb-6">
          <label
            for="Mignardise"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Prix Mignardise</label
          >
          <input
           formControlName="price_mignardise"

            type="number"
            id="Mignardise"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="mb-6">
          <label
            for="Individuel"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Prix Individuel</label
          >
          <input
           formControlName="price_individuel"
            type="number"
            id="Individuel"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="mb-6">
          <label
            for="6Personnes"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Prix 6 Personnes</label
          >
          <input
           formControlName="price_6Pers"
            type="number"
            id="6Personnes"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
      </div>
      <div class="sm:col-span-2">
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Description</label
        >
        <textarea
          id="description"
          rows="4"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
          placeholder=""
          formControlName="description"
        ></textarea>
      </div>
      <div>
        <label
          for="picture"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Image</label
        >
        <input
          (change)="onFileChange($event)"
          type="file"
          name="picture"
          id="picture"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
          placeholder=""
          required=""
          formControlName="picture"
        />
      </div>
    </div>
    <div class="flex justify-between">
    <button
      type="submit"
      class="buttonValider bg-green-800"
    >
      Valider
    </button>
     <button class="button buttonArticle" role="button" (click)="goBack()">
          Retour
        </button>
      </div>
  </form>
</div>
