<section class="dark:bg-gray-900">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
  >
    <div class="flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        Les goûts et les douceurs
      </h1>
      <!-- <p
        class="mb-6 text-lg font-normal text-gray-500 lg:text-2xl dark:text-gray-400"
      >
        Je suis heureuse de vous acceuillir sur mon site. Je vous invite à vous
        inscrire pour poursuivre votre aventure.
      </p> -->
    </div>
    <div>
      <div
        class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-transparent rounded-lg shadow-xl dark:bg-gray-800"
      >
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
          Connectez-vous
        </h2>
        <form
          [formGroup]="login"
          (ngSubmit)="onSubmit()"
          class="mt-8 space-y-6"
        >
          <div>
            <label
              for="mail"
              class="block mb-2 text-xl font-large text-gray-900 dark:text-white"
              >Votre email</label
            >
            <input
              type="mail"
              formControlName="mail"
              id="mail"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
              placeholder="nom@mail.com"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-xl font-medium text-gray-900 dark:text-white"
              >Votre mot de passe</label
            >
            <input
              type="password"
              formControlName="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-200 focus:border-red-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-200 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500"
              required
            />
          </div>
          <button type="submit" class="button">Connexion</button>
          <!-- <div class="text-xl font-medium text-gray-900 dark:text-white">
            Pas encore de compte ?
            <a
              [routerLink]="['/subscribe']"
              class="text-yellow-600 hover:underline dark:text-blue-500"
              >Créer un compte</a
            >
          </div> -->
        </form>
      </div>
    </div>
  </div>
</section>


