/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color:#FFF8F7 ;
  /* font-family: 'Kalam', cursive; */
}

.button {
    max-width: 150px;
  /* appearance: button; */
  background-color: #C7B0AD;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: .8px;
  line-height: 20px;
  overflow: visible;
  padding: 16px 16px;
  text-align: center;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.button:after {
  background-clip: padding-box;
  background-color: #C7B0AD;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}