/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


body{
  background-color:#FFF8F7 ;
  font-family: 'Comfortaa', sans-serif;
}

.button {
  justify-content: center;
    max-width: 130px;
  appearance: button;
  background-color: #C7B0AD;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: .8px;
  line-height: 20px;
  overflow: visible;
  padding: 16px 16px;
  text-align: center;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.button:hover {
 
    background-color: #F9DCD8;
    color: #7A4C46
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:disabled {
  cursor: auto;
}

